.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  border-radius: 5px;
  opacity: 0.8;
  padding: 5px 20px;
}

.containerDecoration {
  background-color: var(--backgroundColor);
  color: var(--color);
  border: var(--border);
}
