.contributionTile {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--tile-background-color);
  border: none;
  border-radius: 20%;
}

.columnContainer {
  display: flex;
  flex-direction: column;
}

.githubContributionsRow {
  &::-webkit-scrollbar {
    display: none;
  }
  display: flex;
  flex-direction: row;
  justify-content: end;
  overflow-x: scroll;
  padding: 0 0.5rem;
  background-color: var(--column-container-background-color);
}
