.header {
  background-color: #7ccca4;
  color: white;
  font-size: 1.1rem;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.navigationItems {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.navigationLink {
  color: white;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: #f0f0f0;
  }
}

.signOut {
  display: flex;
  flex-direction: row;
  align-items: center;
}
