.markdownPreviewEditor {
  width: 100%;
  display: flex;
  flex-direction: row;

  min-height: 500px;
}

.editor {
  width: 50%;
}

.preview {
  position: sticky;
  top: 30px;
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 500px;
  max-height: 100vh;

  overflow-y: scroll;
}

.textEditor {
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    min-height: 500px;
    field-sizing: content;

    outline: none;
    resize: none;
  }
}
