input {
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  border: none;
}

.input--has-border {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);
}

.input--has-border--error {
  border-color: var(--border-color-error);
}
