.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  justify-content: start;

  gap: 30px;
}

.title {
  text-align: center;

  .titleMain {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .titleSub {
    font-size: 3rem;
    letter-spacing: 0.1em;
  }
}

.subTitle {
  font-size: 0.875rem;
  color: gray;
}

.navigation {
  margin-right: 50px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 0;
  }
}
