.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  justify-content: start;

  gap: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .titleMain {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .titleSub {
    font-size: 3rem;
    letter-spacing: 0.1em;
  }
}

.subTitle {
  font-size: 0.875rem;
  color: gray;
}
