.blogEditTable {
  table {
    width: 100%;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;

    thead {
      th {
        background-color: #f0f0f0;
        padding: 5px 10px;
        border-bottom: 1px solid black;
      }
      th:first-child {
        border-top-left-radius: 10px;
      }
      th:last-child {
        border-top-right-radius: 10px;
      }
      th:not(:last-child) {
        border-right: 1px solid black;
      }
    }
    tbody {
      td {
        padding: 10px;
      }
      td:nth-child(n-1) {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
      }
      td:last-child {
        border-bottom: 1px solid black;
        border-right: none;
      }
      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}

.blogEditTableRow {
  .author {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: none;
    .avatarImage {
      height: 20px;
      width: 20px;
    }
  }
  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
  }

  .isPublic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .toggleSwitch {
      width: 50px;
    }
  }

  .edit,
  .delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus {
      color: gray;
    }
  }
}
