@import "tailwindcss";
@layer reset, base, tokens, recipes, utilities;

html,
body,
* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d3d3d3;
}
