.container {
  color: var(--container-color);
  background-color: var(--container-bg-color);
  height: auto;
  align-items: center;
  border-radius: 3px;
  display: inline-flex;
  padding: 0px 6px;

  font-weight: bold;
}

.containerFocus {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover,
  &:focus {
    background-color: var(--container-focus-color);
  }
}
