.container {
  padding: 20px;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.titleArea {
  width: 100%;

  label {
    width: auto;
    font-size: 0.8rem;
    font-weight: bold;
  }

  input {
    flex: 1;
  }

  .deleteButton {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    color: green;

    &:hover {
      background-color: #CBD5C0;
    }
  }
}

.buttonArea {
  width: 100%;
  justify-content: flex-end;
}
