.commentList {
  .commentRow {
    padding: 10px;

    .avatar {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
      }
      .name {
        font-size: 0.9rem;
        font-weight: bold;
      }

      .created {
        font-size: 0.8rem;
        color: gray;
      }
    }
    .content {
      padding: 10px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }
}
