.textarea {
  resize: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;

  font-size: var(--font-size);
  line-height: var(--line-height);

  &::placeholder {
    color: gray;
    font-size: 0.9rem;
  }
}

.border {
  border: 1px solid black;
}
