.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  min-width: 300px;
  min-height: 200px;

  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 20px;
}

.title {
  font-size: 1em;
  font-weight: bold;
}

.message {
  font-size: 0.9em;
  color: var(--text-color);
}

.actionArea {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}
