.profile {
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;

  color: var(--name-color);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 7px;
}

.description {
  font-size: 0.875rem;
}
