.body {
  max-width: 1280px;
  margin: 0 auto;

  padding: 0px 64px;
}

.verticalDiv {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.navigationArea {
  padding: 10px;
}

.mainArea {
  height: 100%;
}

.verticalLeft {
  flex-shrink: 0;
  width: 75%;
}

.verticalRight {
  flex-shrink: 0;
  width: 25%;
}

// TODO: MediaQuery
