.blogCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
}

.imageWrapper {
  width: 200px;
  height: 200px;
  position: relative;
  flex-shrink: 0; // flex-boxの中で固定サイズにするための指定
  .image {
    position: relative !important;
    object-position: center;
    object-fit: contain;
    width: 100% !important;
    height: 100% !important;
  }
}

.contentWrapper {
  .title {
    font-size: var(--title-font-size);
    font-weight: bold;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .description {
    font-size: var(--description-font-size);
  }

  .datetime {
    font-weight: bold;
    font-size: var(--datetime-font-size);
    color: var(--datetime-font-color);
  }
}
