.blogTableRow {
  width: 100%;

  td {
    padding: 10px;
  }
}

.id {
}

.title {
}

.createdAt {
}

.isPublished {
  text-align: center;
}

.edit {
  text-align: center;
}

.delete {
  text-align: center;
}
